*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #d1dbe4;
    margin: 20px;
}
.section1{
    margin: 10px;
    color: #476f95;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    border: black solid 2px;
}
#count{
    font-size: 18px;
    font-weight: 900;
    color: #194a7a;
    border: blue solid 2px;
}
.section2{
    display: block;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: white  solid 2px;
}
img{
    width: 100px;
    height: 200px;
}
.card{
    width: 40%;
    margin: 20px;
    display: inline-block;
    border: red solid 2px;
}
footer{
    margin-top: 10px;
    font-weight: 700;
    color: gray;
    font-size: 12px;
    text-align: center;
}