* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d1dbe4;
    margin: 20px;
}

.section1 {
    margin: 10px;
    color: #476f95;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

#count {
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    color: #194a7a;
}

.section2 {
    text-align: center;
    align-items: center;
    margin: 20px;
}

#book-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    align-items: center;
    text-align: center;
    margin: 10px;
}

footer {
    margin-top: 10px;
    font-weight: 700;
    color: gray;
    font-size: 12px;
    text-align: center;
}